.header{
  background: #242424;
  border-bottom: 1px solid #000000;
}

.headerOpt{
  display: flex;
}

.logo{
  flex-grow: 1;
  padding-top: 8px;
}

.logo img {
  width: 50px;
}

.bars{
  padding-top: 5px;
  font-size: 25px;
}
